<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>旋律生成系统</title>
    <link rel="stylesheet" href="../../static/css/normalize.css">
    <link rel="stylesheet" href="../../static/css/login.css">
    <link rel="stylesheet" href="https://www.unpkg.com/layui@2.6.8/dist/css/layui.css">
    <script src="https://www.unpkg.com/layui@2.6.8/dist/layui.js"></script>
    <script src="https://www.unpkg.com/jquery@3.6.3/dist/jquery.min.js"></script>
    <script src="/static/js/jsencrypt.js"></script>
</head>

<body>
<form class="layui-form" id="form-box">
    <div class="register_container" style="padding-bottom: 90px">
        <div class="login-title">
            <p>注册</p>
        </div>
        <hr class="layui-border-green">

        <div class="layui-form-item">
            <div class="my_input">
                <i class="layui-icon layui-icon-username"></i>
                <input type="text" name="username" id="username" required lay-verify="required|userName|userExist"
                       placeholder="用户名" autocomplete="off" class="layui-input"
                       style="text-align: center;background-color: #f3fdff">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="my_input">
                <i class="layui-icon layui-icon-password"></i>
                <input type="password" name="password" id="password" required lay-verify="required|password"
                       placeholder="密码" autocomplete="off" class="layui-input"
                       style="text-align: center;background-color: #f3fdff">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="my_input">
                <i class="layui-icon layui-icon-password"></i>
                <input type="password" name="password" id="password_ensure" required
                       lay-verify="required|password_check"
                       placeholder="确认密码" autocomplete="off" class="layui-input"
                       style="text-align: center;background-color: #f3fdff">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="my_input">
                <i class="layui-icon layui-icon-vercode"></i>
                <input type="text" id="captcha" name="captcha" placeholder="验证码" autocomplete="off"
                       lay-verify="required" class="layui-input" style="text-align: center;background-color: #f3fdff">
                <img id="captcha-img" alt="验证码" src="/captcha">
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" type="button" lay-filter="form_submit" id="register">
                注册
            </button>
        </div>
        <a id="a_login" href="/login">已有账号?</a>
    </div>
</form>
<iframe id="refearchForm" name="refearchForm" src="about:blank" style="display: none;"></iframe>

</body>
<script src="/static/js/register.js"></script>
</html>